@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  clear: both;
  scroll-behavior: smooth;
}
:root {
  --mainColor: #b6e4fb;
  --mainTextcolor:#313b42;;
  --red: #fd1056;
  --green: #16f0d1;
}
body {
  width: 100%;
  height: var(--windowHeight);
  background: #f1f1f1;
}
/* --------------------- */
.navBar {
  display: flex;
  position: fixed;
  top: 0;
  width: fit-content;
  height: var(--windowHeight);
  color: var(--mainTextcolor);
  transition: 1s ease-in-out;
  z-index: 10;
}
.navBar ul li a i {
  color: var(--mainTextcolor);
}
/* ---------------- */
.hoverBar {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  background: #fff;
  transition: 1s ease-in-out;
}
.hoverBar ul {
  margin: 30px 30%;
}
.hoverBar ul li {
  list-style: none;
  width: 150px;
}
.hoverBar ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--mainTextcolor);
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.hoverBar ul li a:hover i {
  transition: 0.3s ease-in-out;
}
.hoverBar ul li:hover a,
.hoverBar ul li:hover a i {
  color: #b6e4fb;
  text-shadow: 0 0 1px rgb(121, 121, 121);
}
/* --- */
.hoverBar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--mainColor);
  clip-path: circle(0% at 100% 0);
  transition: 1s ease-in-out;
}
/* --- */
.hoverBar .logo li a i {
  font-size: 2em;
}
/* --- */
.hoverBar .menu {
  font-size: 2em;
}
/* --- */
.hoverBar .social {
  display: flex;
}
.hoverBar .social li {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
.hoverBar .social li a {
  display: block;
  height: 100%;
  width: 100%;
}
/* --------------- */
.mainBar {
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  transition: 0.9s ease-in-out;
  overflow: hidden;
}
.mainBar ul {
  margin: 20px;
  width: 100%;
  text-align: center;
}
.mainBar ul li {
  position: relative;
  height: 30px;
  width: 100%;
  line-height: 30px;
  list-style: none;
}
.mainBar ul li a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.mainBar .logo i {
  font-size: 1.3em;
}
.toggle {
  position: relative;
  top: 10%;
  cursor: pointer;
}
.toggle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\f0c9 ";
  font-family: fontAwesome;
  text-align: center;
  font-size: 1.3em;
}
.toggle.active::before {
  content: "\f00d";
}
.mainBar .social {
  position: relative;
}
.mainBar .social li {
  position: relative;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(380px);
  }
  50% {
    transform: translateY(380px);
  }
  75% {
    transform: translateY(0);
  }
}
.mainBar .social::before {
  content: "Yizhak Gete Site Design";
  position: absolute;
  transform: rotate(-90deg);
  bottom: 60%;
  left: -93px;
  text-align: left;
  height: 55px;
  width: 250px;
  letter-spacing: 10px;
  animation: animate2 8s linear infinite;
}
@keyframes animate2 {
  0%,
  100% {
    transform: rotate(-90deg) translateX(-380px);
  }
  25% {
    transform: rotate(-90deg) translateX(0);
  }
  50% {
    transform: rotate(-90deg) translateX(0);
  }
  75% {
    transform: rotate(-90deg) translateX(-380px);
  }
}
/* --------------------- */
.gridContainer {
  height: var(--windowHeight);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.item:nth-child(1) {
  background: #b6e4fb;
  grid-area: 1/1/4/3;
}
.item:nth-child(2) {
  background: #d7c4eb;
}
.item:nth-child(3) {
  background: #ffeeb1;
}
.item:nth-child(4) {
  background: #f3f3f5;
}
.item:nth-child(5) {
  background: #ffced3;
}
.item:nth-child(6) {
  background: #ffffff;
}
.item:nth-child(7) {
  background: #fec757;
}

/* ---------------- */
.gallery {
  position: relative;
  height: var(--windowHeight);
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.gallery .bgImg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 650px;
  width: auto;
  background: url(./img/desktop.jpg);
}

.scrollBox {
  position: relative;
  top: 11%;
  height: fit-content;
}

.scrollBox:hover .scroll {
  animation-play-state: paused;
}

.scroll {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1600px;
  z-index: 3;
  overflow: hidden;
  zoom: 0.8;
  transition: 0.5s;
  animation: scrolling1 10s infinite linear;
}

.scroll:last-child {
  left: 1600px;
}

@keyframes scrolling1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrolling2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll .container {
  position: relative;
  height: 330px;
  width: 240px;
  background: #fafcf9;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s ease-out;
}

.scroll .container:hover {
  width: 700px;
  cursor: pointer;
}

.scroll .container::before,
.scroll .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.scroll .container::after {
  top: -20px;
  left: -10px;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  filter: blur(10px);
  opacity: 0.6;
}

.scroll .container:nth-child(1):before,
.scroll .container:nth-child(1)::after {
  background: url(./img/apple.png);
  background-position: 50% -500%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.scroll .container:nth-child(2):before,
.scroll .container:nth-child(2)::after {
  background: url(./img/orange.png);
  background-position: 50% -500%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.scroll .container:nth-child(3):before,
.scroll .container:nth-child(3)::after {
  background: url(./img/watermelon.png);
  background-position: 50% -400%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.scroll .container:nth-child(4):before,
.scroll .container:nth-child(4)::after {
  background: url(./img/banana.png);
  background-position: 50% -350%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.scroll .container .text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 20px;
  text-align: center;
}

.scroll .container .text h1 {
  text-transform: uppercase;
}

.scroll .container .text p {
  margin-top: 10px;
  min-width: 400px;
  opacity: 0;
  transition: 0.3s ease-in;
}

.scroll .container:hover .text p {
  opacity: 1;
  transition-duration: 1.5s;
}

.scroll .container .round {
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translate(10%, 10%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #a69b86;
  overflow: hidden;
}

.scroll .container .round::before {
  content: "\f067  ";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/* contact */
#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: var(--windowHeight);
  width: 100%;
}
#contact .textField p {
  font-size: 0.7em;
}
.formContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 10px;
  width: fit-content;
  position: relative;
}
.formContact:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  height: 93%;
  width: 100%;
  z-index: -1;
  border: 1px solid var(--mainColor);;
  transition: all 0.3s linear;
}

.formContact:hover:before {
  top: 10px;
  right: 10px;
}
.formContact input:nth-child(3),
.formContact textarea {
  grid-column: 1/3;
}
.formContact input[type="text"],
.formContact input[type="email"],
.formContact textarea {
  background: var(--mainColor);
  border: none;
  padding: 10px 15px;
  color: var(--mainTextcolor);
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  outline: none;
}
.buttonHover {
  display: block;
  height: 30px;
  width: 70px;
  margin-top: 5px;
  background: var(--mainColor);
  font-size: 1em;
  font-weight: 900;
  border: 1px solid var(--mainColor);
  position: relative;
  color: var(--mainTextcolor);
  cursor: pointer;
  outline: none;
  justify-self: flex-end;
}
.buttonHover:before {
  content: "";
  position: absolute;
  background: var(--background);
  top: 3px;
  right: 3px;
  height: 100%;
  width: 100%;
  z-index: -1;
  border: 1px solid var(--mainColor);
  transition: all 0.3s linear;
}

.buttonHover:hover:before {
  top: 10px;
  right: 10px;
}
.buttonHover:active {
  background: var(--mainTextcolor);
  color: var(--mainColor);
}
/* ------ */
.contactInfo {
  position: relative;
  height: 400px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background: #b6e4fb;
  overflow: hidden;
}
.contactInfo .card {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}
.contactInfo .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7bd3ff;
  clip-path: circle(40% at 80% 10%);
  transition: 0.5s;
}
.contactInfo .card:hover::before {
  clip-path: circle(60% at 70% 5%);
}
.contactInfo .card::after {
  content: "GETE";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: #c4eaff;
  font-size: 100px;
  font-weight: 900;
  z-index: 1;
}
.contactInfo .imgBox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.contactInfo img {
  height: 200px;
  width: auto;
  margin: 0;
  padding: 0;
  transform: rotate(-25deg);
}
.contactInfo .card:hover .imgBox {
  top: 20%;
}
.contactInfo h1,
h1 {
  margin: 0;
  padding: 0;
}
.contactInfo .text {
  position: absolute;
  color: var(--mainTextcolor);
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  z-index: 2;
}
.contactInfo .card:hover .text {
  top: 40%;
}
.contactInfo ul {
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.8s;
}
.contactInfo .card:hover ul {
  opacity: 0.9;
}
.contactInfo ul li {
  padding: 8px;
  border-radius: 5px;
  font-size: 13px;
  /* display: block; */
  list-style: none;
  transition: 0.3s;
}
.contactInfo ul li:hover {
  box-shadow: 3px 3px 1px 1px var(--mainColor);
  transform: scale(1.5);
  background-color: rgba(204, 202, 202, 0.377);
}

/* ---------------- */

@media screen and (min-width: 800px) {
  .navBar:hover .mainBar {
    width: 0;
  }
  .navBar:hover .hoverBar {
    width: 50vw;
  }
  .hoverBar:hover::before {
    clip-path: circle(50% at 100% 0);
  }
}
@media screen and (max-width: 800px) {
  .mainBar.active {
    width: 40px;
  }
  .mainBar .social::before {
    font-size: 0.6em;
  }
  .hoverBar ul {
    margin: 30px 20vw;
  }
  .hoverBar.active {
    width: calc(100vw - 40px);
  }
  .hoverBar.active::before {
    clip-path: circle(50% at 100% 0);
    z-index: 1;
  }
  .hoverBar ul {
    z-index: 2;
  }
  .nav {
    justify-content: center;
  }
  .gallery .bgImg {
    zoom: 0.5;
  }
  .scrollBox {
    top: 35%;
    zoom: 0.5;
  }
  #contact{
    flex-direction: column;
    text-align: center;
  }
  #contact .textField{
    zoom: .5;
  }
  #contact .contactInfo{
    zoom: .5;
  }
}
